# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env
*.env

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore Django-related files
db.sqlite3
*.log
media/
staticfiles/
node_modules/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore Git-related files
.git
.gitignore
