SECRET_KEY=your-secret-key
SENTRY_DSN=https://your-sentry-dsn@sentry.io/your-project-id
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=your-client-id.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=your-client-secret
DB_NAME=db-name
DB_USER=db-user
DB_PASSWORD=db-password
DB_HOST=localhost
DB_PORT=5432
HOST_USER=admin
HOST_PASSWORD=admin123
HOST_EMAIL=admin@gmail.com
ENVIRONMENT=development
DEBUG=True
