asgiref==3.8.1
astroid==2.15.8
autopep8==2.3.2
beautifulsoup4==4.13.3
black==25.1.0
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coverage==7.6.12
cryptography==44.0.1
defusedxml==0.7.1
distlib==0.3.9
dj-rest-auth==5.0.0
Django==4.2.19
django-allauth==0.61.1
django-cors-headers==4.7.0
django-debug-toolbar==5.0.1
django-environ==0.12.0
django-extensions==3.2.3
django-silk==5.3.2
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.8
exceptiongroup==1.2.2
filelock==3.17.0
flake8==7.1.2
gprof2dot==2024.6.6
identify==2.6.7
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
lazy-object-proxy==1.10.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.9.1
oauthlib==3.2.2
packaging==24.2
parse==1.20.2
parse_type==0.6.4
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.19.1
PyJWT==2.10.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.10.0
python3-openid==3.2.0
pytz==2025.1
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
rich==13.9.4
sentry-sdk==2.22.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.5.0
virtualenv==20.29.2
wrapt==1.17.2
